{% extends 'layout.html' %}
{% block content %}
<html>
<section id="title" style="background-color: rgb(244, 248, 248); border-bottom: 3px solid var(--black);" >
  <div>
    <a href="/">
      <img class="Logo" src="static/images/logo.png" alt="logo-img">
    </a>
    <h1 style="padding-left: 19%;">{{ title_simulator }}</h1>
  </div>
</section>

<body style="background-color: rgb(211, 218, 218); ">
    <section id="insertFeedback" dir="rtl" lang="he">
      <form action="" method="post">
        <div class="col form-group">
            <label for="">אנא בחר מאמן</label>
            <select class="form-control" name="type_of_simulator">
                <option>שיזפון</option>
                <option>בהל"צ</option>
                <option>נחשונים</option>
                <option>נייד</option>
            </select>
            <br>
        </div>
        <div class="col form-group">
          <label for="">אנא דרג את איכות האימון</label>
          <div class="rating rating2">
            <label>★<input type="radio" name="question1" title="Give 5 stars" value="ques1-5"></label>
            <label>★<input type="radio" name="question1" title="Give 4 stars" value="ques1-4"></label>
            <label>★<input type="radio" name="question1" title="Give 3 stars" value="ques1-3"></label>
            <label>★<input type="radio" name="question1" title="Give 2 stars" value="ques1-2"></label>
            <label>★<input type="radio" name="question1" title="Give 1 stars" value="ques1-1"></label>
          </div>
        </div>
        <div class="col form-group">
          <label for="">לפי דעתך עד כמה המאמן מתאר את המציאות</label>
          <div class="rating rating2">
            <label>★<input type="radio" name="question2" title="Give 5 stars" value="ques2-5"></label>
            <label>★<input type="radio" name="question2" title="Give 4 stars" value="ques2-4"></label>
            <label>★<input type="radio" name="question2" title="Give 3 stars" value="ques2-3"></label>
            <label>★<input type="radio" name="question2" title="Give 2 stars" value="ques2-2"></label>
            <label>★<input type="radio" name="question2" title="Give 1 stars" value="ques2-1"></label>
          </div>
        </div>
        <div class="col form-group">
          <label for="">עד כמה אתה מרגיש בנוח בתפעול המאמן</label>
          <div class="rating rating2">
            <label>★<input type="radio" name="question3" title="Give 5 stars" value="ques3-5"></label>
            <label>★<input type="radio" name="question3" title="Give 4 stars" value="ques3-4"></label>
            <label>★<input type="radio" name="question3" title="Give 3 stars" value="ques3-3"></label>
            <label>★<input type="radio" name="question3" title="Give 2 stars" value="ques3-2"></label>
            <label>★<input type="radio" name="question3" title="Give 1 stars" value="ques3-1"></label>
          </div>
        </div>
        <div class="col form-group">
          <label for="">עד כמה אתה מת עכשיו להיות בתאילנד</label>
          <div class="rating rating2">
            <label>★<input type="radio" name="question4" title="Give 5 stars" value="ques4-5"></label>
            <label>★<input type="radio" name="question4" title="Give 4 stars" value="ques4-4"></label>
            <label>★<input type="radio" name="question4" title="Give 3 stars" value="ques4-3"></label>
            <label>★<input type="radio" name="question4" title="Give 2 stars" value="ques4-2"></label>
            <label>★<input type="radio" name="question4" title="Give 1 stars" value="ques4-1"></label>
          </div>
        </div>
        <div class="col form-group">
          <label for="">עד כמה אתה מת לאכול עכשיו פיצה</label>
          <div class="rating rating2">
            <label>★<input type="radio" name="question5" title="Give 5 stars" value="ques5-5"></label>
            <label>★<input type="radio" name="question5" title="Give 4 stars" value="ques5-4"></label>
            <label>★<input type="radio" name="question5" title="Give 3 stars" value="ques5-3"></label>
            <label>★<input type="radio" name="question5" title="Give 2 stars" value="ques5-2"></label>
            <label>★<input type="radio" name="question5" title="Give 1 stars" value="ques5-1"></label>
          </div>
        </div>
        <div style="text-align: center;">
          <form method="POST">
            <button type="sumbit" class="btn btn-outline-success" onclick="fireSweetAlert()">שלח משוב</button>
          </form>
        </div>
        
       </form>
    </section>

    <!-- Alert Message after clicking on sumbit.-->
    <script>
      function fireSweetAlert() {
          Swal.fire({
              position: 'center',
              icon: 'success',
              title: '!המשוב נשלח בהצלחה',
              showConfirmButton: false,
              timer: 1500
          })
      }      
    </script>
</body>
</html>
{% endblock %}