
{% extends 'layout.html' %}
{% block content %}
<section id="title" style="background-color: rgb(244, 248, 248); border-bottom: 3px solid var(--black);" >
<div>
  <a href="/"><img class="Logo" src="static/images/logo.png" alt="logo-img"></a>
  <h1>דוח תקלות למפעיל</h1>
</div>
</section>
<body style="background-color: rgb(211, 218, 218);">
<section id="show_data_errors" dir="rtl" lang="he">
<form action="" method="post"><table border="0" class="dataframe table table-hover" id="driving_show_data_errors_mafil">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>מאמן</th>
      <th>סוג תא</th>
      <th>תאריך</th>
      <th>שעה</th>
      <th>שם מזהה</th>
      <th>סוג התקלה</th>
      <th>תפעול התקלה</th>
      <th>באיזה מחשב</th>
      <th>חומרה \ תוכנה</th>
      <th>עיתוי התקלה</th>
      <th>זמן השבתה</th>
      <th>טופל \ לא טופל</th>
      <th>שם המטפל</th>
      <th>שעת טיפול</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>שיזפון</td>
      <td>תא 1 סימן 4</td>
      <td>2021-12-07</td>
      <td>12:00</td>
      <td>שרה</td>
      <td>עגכעכגעכעקר</td>
      <td>NaN</td>
      <td>הנגכה34</td>
      <td>מערכת</td>
      <td>אימון</td>
      <td>00:01</td>
      <td>V</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>ביסל"ח</td>
      <td>תא 2 אכזרית</td>
      <td>2021-12-07</td>
      <td>10:00</td>
      <td>שני</td>
      <td>עגכעכגעכעקר</td>
      <td>עגכעכגעכעקר</td>
      <td>כעכגע543</td>
      <td>מערכת</td>
      <td>אימון</td>
      <td>00:05</td>
      <td>X</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>ביסל"ח</td>
      <td>תא 1 סימן 4</td>
      <td>2021-11-30</td>
      <td>14:10</td>
      <td>דנית</td>
      <td>נלהצרא</td>
      <td>עגכעכגעכעקר</td>
      <td>כעכגע543</td>
      <td>חומרה</td>
      <td>לא אימון</td>
      <td>00:00</td>
      <td>X</td>
      <td>רונקיפליץ</td>
      <td>21:23</td>
    </tr>
  </tbody>
</table>
<br>
</form></section>
<div class="container">
<div class="col form-group" style="text-align: center;">
    <form method="POST">
        <button type="sumbit" class="btn btn-outline-success" name="options" value="option1">הוספת תקלה</button>
        <button type="sumbit" class="btn btn-outline-danger" name="options" value="option2">עריכה</button>
        <button type="sumbit" class="btn btn-outline-secondary" name="options" value="option3">פתיחת דוח באקסל</button>
    </form>
</div>
</div>
<script type="text/javascript">
$('#driving_show_data_errors_mafil').DataTable();
</script>"
</body>
{% endblock %}