
:5000 {
    basicauth {
        admin JDJhJDE0JG1oMGFabFNURWNkZjhGdkE1NTJJdk9ubnlOc3pFQ2tFUFl5T21pbDZIVmZjYS9ENmpvSmVX
    }
    reverse_proxy localhost:47382 
}


:80 {
    basicauth {
        admin JDJhJDE0JG1oMGFabFNURWNkZjhGdkE1NTJJdk9ubnlOc3pFQ2tFUFl5T21pbDZIVmZjYS9ENmpvSmVX
    }
    reverse_proxy localhost:47382 
}

