
{% extends 'layout.html' %}
{% block content %}
<section id="title" style="background-color: rgb(244, 248, 248); border-bottom: 3px solid var(--black);" >
<div>
  <a href="/"><img class="Logo" src="static/images/logo.png" alt="logo-img"></a>
  <h1>דוח תקלות</h1>
</div>
</section>
<body style="background-color: rgb(211, 218, 218);">
<section id="show_data_errors" dir="rtl" lang="he">
<form action="" method="post"><table border="0" class="dataframe table table-see-all-errors table-hover" id="show_data_errors_mafil">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>תאריך העלאה</th>
      <th>שעת העלאה</th>
      <th>שם המזהה</th>
      <th>מספר מחולל</th>
      <th>סוג התקלה</th>
      <th>תפעול התקלה</th>
      <th>סוג עמדה</th>
      <th>באיזה מחשב</th>
      <th>זמן השבתה</th>
      <th>טופל \ לא טופל</th>
      <th>עיתוי התקלה</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>2022-04-06</td>
      <td>17:11</td>
      <td>nj</td>
      <td>מחולל מס' 1</td>
      <td>dana`da</td>
      <td>danana</td>
      <td>מבצעית</td>
      <td>SVM</td>
      <td>17:11</td>
      <td>V</td>
      <td>אימון</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2022-04-02</td>
      <td>17:17</td>
      <td>Hen</td>
      <td>מחולל מס' 1</td>
      <td>חן</td>
      <td>חן</td>
      <td>מבצעית</td>
      <td>IN2</td>
      <td>21:14</td>
      <td>V</td>
      <td>אימון</td>
    </tr>
  </tbody>
</table>
<br>
</form></section>
<div class="container">
<div class="col form-group" style="text-align: center;">
    <form method="POST">
        <button type="sumbit" class="btn btn-outline-success" name="options" value="option1">הוספת תקלה</button>
        <button type="sumbit" class="btn btn-outline-danger" name="options" value="option2">עריכה</button>
        <button type="sumbit" class="btn btn-phone btn-outline-secondary" name="options" value="option3">דוח אקסל</button>
        <button type="sumbit" class="btn btn-outline-dark btn-phone" name="options" value="option_back">לדשבורד</button>
    </form>
</div>
</div>
<script type="text/javascript">
$('#show_data_errors_mafil').DataTable();
</script>"
</body>
{% endblock %}