
:5000 {
    basicauth {
        admin JDJhJDE0JFlHQVI4Vkc3L2drQWNYWU8uN2FESXVRM2Y0MjJxLlBGd3NBWGtFOURaNk9KQklvenNpYjNT
    }
    reverse_proxy elbit-ground-beta:5000 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

