
{% extends 'layout.html' %}
{% block content %}
<section id="title" style="background-color: rgb(244, 248, 248); border-bottom: 3px solid var(--black);" >
<div>
  <a href="/"><img class="Logo" src="static/images/logo.png" alt="logo-img"></a>
  <h1 style="padding-left: 16%;">פערי מאמן</h1>
</div>
</section>
<body style="background-color: rgb(211, 218, 218);">
<section id="show_data_errors" dir="rtl" lang="he"><table border="0" class="dataframe table table-hover" id="show_maintenance_technician_mafil">
  <thead>
    <tr style="text-align: right;">
      <th>תאריך</th>
      <th>מה הפער</th>
      <th>טופל / לא טופל</th>
      <th>תאריך טיפול</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2021-12-16</td>
      <td>חסר עכברים</td>
      <td>V</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>2021-12-22</td>
      <td>המצלמה במאמן משימה 4 לא מקליטה קול בכל התחקורים</td>
      <td>V</td>
      <td>2021-12-29</td>
    </tr>
  </tbody>
</table>
<br>
</form>
</section>
<section id="insertError" dir="rtl" lang="he">
    <form action="" method="post">
    <div class = "row">
        <div class="col form-group">
          <label for="" class="labelSettings">תאריך</label>
          <input type="date" name="date_upload" class="form-control" min="2021-01-01">
          <br>
        </div>
        <div class="col form-group">
          <label for="" class="labelSettings">מה הפער</label>
          <textarea class="form-control" name= "disparity"  rows="2" placeholder="אנא הסבר"></textarea>
          <br>
        </div>
    </div>
    <div class = "row">
        <div class="col form-group">
          <label for="">טופל \ לא טופל</label>
          <select class="form-control" name = "status">
            <option>V</option>
            <option>X</option>
          </select>
          <br>
        </div>
        <div class="col form-group">
          <label for="" class="labelSettings">תאריך טיפול</label>
          <input type="date" name="date_treatment" class="form-control" min="2021-01-01">
          <br>
        </div>
    </div>
</section>

<div class="container">
  <div class="col form-group" style="text-align: center;">
    <form method="POST">
        <button type="sumbit" class="btn btn-outline-success" name="options" value="option_add" onclick="fireSweetAlert()">הוספת פער</button>
        <button type="sumbit" class="btn btn-outline-danger" name="options" value="option_edit">עריכת שורה</button>
        <button type="sumbit" class="btn btn-outline-dark btn-phone" name="options" value="option_back">לדשבורד</button>
    </form>
  </div>
</div>

<script type="text/javascript">
  $('#show_maintenance_technician_mafil').DataTable();
</script>

</body>
{% endblock %}