#title{
    background-color: rgb(217, 220, 223);
    padding-bottom: 1%;
    font-family: 'Varela Round', sans-serif;
  
}

#photos{
    background-color: rgb(217, 220, 223);
}


h3{
    font-family: 'Assistant-ExtraBold', sans-serif;
    font-size: 1.6vw;
    text-align: center;
    
}

/* style of bla bla bla bla bla sentence */
.second-paragraph{
    border-bottom: 3px solid var(--black);
    border-top: 3px solid var(--black);
    padding-top: 1%;
    background-color: rgb(242, 245, 248);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-bottom: 1%;
    color:rgb(39, 51, 82)

}


p{
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(17, 18, 19);
    padding-bottom: 2%;
}

#simulators, #optionsInSimuator, #whichUser, #optionsInManager{
    background-color: rgb(217, 222, 226);


}

h1{
    text-align: center;
    display: inline-block;
    
}

:root {
    --red: hsl(0, 78%, 62%);
    --black: hsl(0, 58%, 4%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(230, 5%, 48%);
    --green: hsl(106, 32%, 53%);
    --pink: hsl(332, 35%, 42%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.box p {
    color: var(--black);
}

.box {
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 20px;
    margin: 40px;  
    text-align: center;
    border-radius:40px;
    width: 15%;

}

img {
    float: center;
    
}

/* customize to mobile */
@media (max-width: 500px) { /*"500" the width of window*/
    img{
      width:110%;
    }
    .Logo{
        width: 25%;
    }
    h1{
        text-align: center;   
        font-size: large;
    }
    h3{
        font-weight: bold;
        font-size: 11px;  
        font-family: 'Assistant-ExtraBold', sans-serif;     
    }
    .box{       
        margin: 30px;
        border-radius:60px;
        width: 24%;
    }
    .btn{
        width: 110%;
    }
    .btn-outline-success{
        width: 30%;
    }
    .btn-outline-danger{
        width: 30%;

    }
    .btn-phone{
        width: 50%;
    }
    h2{
        font-size: large;
  }

.cyan {
    border-top: 5px solid var(--cyan);
}
.red {
    border-top: 5px solid var(--red);
}
.blue {
    border-top: 5px solid var(--blue);
}
.orange {
    border-top: 5px solid var(--orange);
}
.green {
    border-top: 5px solid var(--green);
}
.pink {
    border-top: 5px solid var(--pink);
}
.varyDarkBlue {
    border-top: 5px solid var(--varyDarkBlue);
}
.grayishBlue {
    border-top: 5px solid var(--grayishBlue);
}
.black {
    border-top: 5px solid var(--black);
}

.cyanInButoon {
    border-top: 3px solid var(--cyan);
    border-left: 3px solid var(--cyan);
    border-right: 3px solid var(--cyan);
    border-bottom: 3px solid var(--cyan);
}
.redInButoon {
    border-top: 3px solid var(--red);
    border-left: 3px solid var(--red);
    border-right: 3px solid var(--red);
    border-bottom: 3px solid var(--red);
}
.blueInButoon {
    border-top: 3px solid var(--blue);
    border-left: 3px solid var(--blue);
    border-right: 3px solid var(--blue);
    border-bottom: 3px solid var(--blue);
}
.orangeInButoon {
    border-top: 3px solid var(--orange);
    border-left: 3px solid var(--orange);
    border-right: 3px solid var(--orange);
    border-bottom: 3px solid var(--orange);
}
.greenInButoon {
    border-top: 3px solid var(--green);
    border-left: 3px solid var(--green);
    border-right: 3px solid var(--green);
    border-bottom: 3px solid var(--green);
}
.pinkInButoon {
    border-top: 3px solid var(--pink);
    border-left: 3px solid var(--pink);
    border-right: 3px solid var(--pink);
    border-bottom: 3px solid var(--pink);
}
.varyDarkBlueInButoon {
    border-top: 3px solid var(--varyDarkBlue);
    border-left: 3px solid var(--varyDarkBlue);
    border-right: 3px solid var(--varyDarkBlue);
    border-bottom: 3px solid var(--varyDarkBlue);
}
.grayishBlueInButoon {
    border-top: 3px solid var(--grayishBlue);
    border-left: 3px solid var(--grayishBlue);
    border-right: 3px solid var(--grayishBlue);
    border-bottom: 3px solid var(--grayishBlue);
}
.blackInButoon {
    border-top: 3px solid var(--black);
    border-left: 3px solid var(--black);
    border-right: 3px solid var(--black);
    border-bottom: 3px solid var(--black);
}





.row1-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row3-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row4-container {
    display: flex;
    justify-content: center;
    align-items: center;
}



.carousel-item {
    border-top: 1px solid var(--black);
    height: 65vh;
    min-height: 340px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
    
    
  }

.carousel-inner > .carousel-item > img {
    width:100%;
    height:100%;
  }
#footer{
    padding-top: 50px;
    background-color: rgb(242, 245, 248);
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding-bottom: 50px;
    border-top: 3px solid var(--black);
}

/* errors.html , Activity.html */
#insertError, #insertActivity, #insertFeedback,
#warehouse_inventory, #order_training, #show_data_errors,
#show_data_activity{
    margin: 3%;
}

.form-control{
    border-radius: 30px;
    text-align: center;
    box-shadow:10px 10px 15px 4px rgba(82, 78, 116, 0.06);
    transition: width 0.4s ease-in-out;
}

.form-group{
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(17, 18, 19);
    padding-bottom: 2%;
}


/*  
 * Rating styles
 */
.rating{
    margin: 0 auto 1em;
    font-size: 24px;
    overflow:hidden;
}

.rating label{
	float:right;
	color: #aaa;
	text-decoration: none;
	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	-o-transition: color .4s;
	transition: color .4s;
}

label
{
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

.rating label:focus ~ label, .rating label:hover, .rating label:hover ~ label, .rating label:focus, .rating label:focus ~ label{
	color: orange;
	cursor: pointer;
	}
.rating2 {
	direction: rtl;
}
.rating2 label {
	float:none
}

input[type=radio]
{
    visibility: hidden;
}

input:invalid+span:after {
    position: absolute;
    content: '✖';
    padding-left: 5px;
}
  
  
input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
}


