{% extends 'layout.html' %}
{% block content %}
<html>
<section id="title" style="background-color: rgb(244, 248, 248); border-bottom: 3px solid var(--black);" >
  <div>
    <a href="/">
      <img class="Logo" src="static/images/logo.png" alt="logo-img">
    </a>
    <h1>דיווח על תקלה</h1>
  </div>
</section>

<body style="background-color: rgb(211, 218, 218); ">
  <section id="insertError" dir="rtl" lang="he">
    <form action="" method="post">
      <div class="row">
        <div class="col form-group">
          <label for="">מאמן</label>
          <select class="form-control" name="type_of_simulator">
            <option>שיזפון</option>
            <option>בהל"צ</option>
            <option>ביסל"ח</option>
            <option>צאלים</option>
          </select>
          <br>
        </div>
        <div class="col form-group">
            <label for="">סוג תא</label>
            <select class="form-control" name="type_of_cell">
              <optgroup label="שיזפון">
                <option>תא 1 סימן 4</option>
                <option>תא 2 סימן 4</option>
                <option>תא 3 סימן 4</option>
              </optgroup>
              <optgroup label="בהלצ">
                <option>תא 1 פומה</option>
                <option>תא 2 פומה</option>
                <option>תא 2 נמרה</option>
              </optgroup>
              <optgroup label="ביסלח">
                <option>תא 1 נמר</option>
                <option>תא 2 נמר</option>
                <option>תא 2 אכזרית</option>
              </optgroup>
              <optgroup label="צאלים">
                <option>עמדה 1 סימן 4</option>
                <option>עמדה 1 סימן 3</option>
                <option>עמדה קבועה סימן 3</option>
              </optgroup>
            </select>
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
          <label for="" class="labelSettings">תאריך</label>
          <input type="date" name="date_error" class="form-control" min="2021-01-01" required>
          <br>
        </div>
        <div class="col form-group">
          <label for="" class="labelSettings">שעה</label>
          <input type="time" name="time_error" class="form-control" required>
          <br>
        </div>
        <div class="col form-group">
            <label for="">שם המזהה</label>
            <input type="text" name="name_identifier"class="form-control" required placeholder="שם">
            <br>
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
            <label for="">סוג התקלה</label>
            <select class="form-control" name="type_of_fault">
              <optgroup label = "בלה בלה">
                <option>אין קשר רדיו בין המתאמן למדריכה</option>
                <option>תוכנת העץ כוחות לא מופיעה / עולה לא ממורכזת בעת טעינת התרחיש, בתצוגת התלת מימד מופיעה המפה ללא טנק המתאמן.</option>
                <option>במהלך טעינת תרחיש, תלת מימד עולה אך ורק במסך המדריך, בו מופיעה תמונה מרחפת מעל פני הקרקע</option>
                <option>תוכנת IOS נתקעה / קרסה</option>
                <option>מנוע SIMENG נתקע / קרס</option>
                <option>בעת הזנת סיסמא במסך הפתיחה של ה-IOS, עולה הודעת שגיאה או אפליקציה נתקעת</option>
                <option>טנק "שוקע" באדמה.(Queryserver)</option>
                <option>טנק לא עובר את הילוך שני</option>
                <option>אין תמונה באחד האפיסקופים. (אפיסקופ נראה כבוי).</option>
                <option>המתאמן אינו מצליח להעביר הילוכים בבורר כיווני הנסיעה</option>
                <option>בלם החנייה אינו משתחרר במחשב אך משתחרר בתא פיזית</option>
                <option>פלטפורמה לא עולה / תקועה</option>
              </optgroup>
            </select>
            <br>
        </div>
        <div class="col form-group">
            <label for="">תפעול</label>
            <select class="form-control" name = "fault_operation" placeholder="אנא בחר מהרשימת תפעול תקלות">
              <optgroup label = "בלה בלה">
                <option>העברת מתג הקשר בג'נטקס ל"אחורי קבוע"</option>
                <option>החלפת ג'נטקס/פתיל לב ובדיקה האם הבעיה בג'נטקס או בגורם אחר</option>
                <option>האימון עלה בצורה שאינה תקינה, יש לצאת מהאימון ולהיכנס מחדש לתרחיש הרצוי</option>
                <option>כניסה מחדש לאימון ולאחר מכן RUN IOS</option>
                <option>יש לגשת לשולחן העבודה וללחוץ על האייקון הירוק "RUN IOS".</option>
                <option>יש לגשת לשולחן העבודה במחשב SIMENG וללחוץ על האייקון הירוק "Run Simeng".</option>
                <option>הדבר נפוץ בעת העלאת מערכת לראשונה בבוקר, למחשב IOS SERVER לוקח זמן לעלות. ניסיון כניסה מוקדמת מדי תקפיץ לנו הודעת שגיאה</option>
                <option>תחילה יש לנסות לגרור את הטנק אל עבר נקודה אחרת במפת הדו מימד - לאחר מכן לגשת למחשב SIMENG ולאתחל את תוכנת ה QUERYSERVER המסומנת בגלובוס עם חץ כתום, על שולחן העבודה. לאחר מכן הכנסת מס' הבסנ"ת הרצוי ע"פ מה שרשום בקונסולה.</option>
                <option>כניסה מחדש לתרחיש</option>
                <option>וידוא נורה ירוקה, במידה ולא - קריאה למפעיל</option>
                <option>הורדת פלטפורמה ע"י לחיצה על שחרור פלטפורמה או כפתור ה STOP בתוכנת ה IOS בלבד</option>
                <option>ריענון פריסקופטים</option>
              </optgroup>
            </select>
            <br>
        </div>
        <div class="col form-group">
          <label for="">באיזה מחשב</label>
          <select class="form-control" name="computer">
            <option>ios client</option>
            <option>simEngine</option>
            <option>DC</option>
            <option>iosServer</option>
            <option>IG 1</option>
            <option>IG 2</option>
            <option>IG 3</option>
            <option>MFD</option>
            <option>Voip</option>
          </select>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
          <label for="">חומרה / מערכת</label>
          <select class="form-control" name="hardware_or_system">
            <option>חומרה</option>
            <option>מערכת</option>
          </select>
          <br>
        </div>
        <div class="col form-group">
          <label for="">עיתוי</label>
          <select class="form-control" name="timing_fault">
            <option>אימון</option>
            <option>לא אימון</option>
          </select>
          <br>
        </div>
        <div class="col form-group">
            <label for="">זמן השבתה</label>
            <input type="time" class="form-control" name= "time_download" required>
            <br>
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
          <label for="">טופל\לא טופל</label>
          <select class="form-control" name = "situation">
            <option>X</option>
            <option>V</option>
          </select>
          <br>
        </div>
        <div class="col form-group">
          <label for="">שם המטפל</label>
          <input type="text" name="name_treat"class="form-control" placeholder="שם">
          <br>
        </div>
        <div class="col form-group">
          <label for="" class="labelSettings">שעת טיפול</label>
          <input type="time" name="time_treatment" class="form-control">
          <br>
        </div>
      </div>
        
      
      <div style="text-align: center;">
        <form method="POST">
          <button type="sumbit" class="btn btn-outline-success">שלח</button>
        </form>
        <input type="reset" class="btn btn-outline-danger" value="אתחול">
        <p></p>
      </div>
    </form>
  </section>
</body>

</html>
{% endblock %}