{% extends "layout.html" %}
{% block content %}
<html>
<section id="title" style="background-color: rgb(244, 248, 248); border-bottom: 3px solid var(--black);">
  <div>
    <a href="/">
      <img class="Logo" src="static/images/logo.png" alt="logo-img">
    </a>
    <h1>הכנסת שעות פעילות המאמן</h1>
  </div>
</section>

<body style="background-color: rgb(211, 218, 218);">
    <section id="insertActivity" dir="rtl" lang="he">
        <form action="" method="post">
            <div class="row">
                <div class="col form-group">
                  <label for="">מאמן</label>
                  <select class="form-control" name="type_of_simulator">
                    <option>שיזפון</option>
                    <option>בהל"צ</option>
                    <option>ביסל"ח</option>
                    <option>צאלים</option>
                  </select>
                  <br>
                </div>
                <div class="col form-group">
                    <label for="">סוג תא</label>
                    <select class="form-control" name="type_of_cell">
                      <optgroup label="שיזפון">
                        <option>תא 1 סימן 4</option>
                        <option>תא 2 סימן 4</option>
                        <option>תא 3 סימן 4</option>
                      </optgroup>
                      <optgroup label="בהלצ">
                        <option>תא 1 פומה</option>
                        <option>תא 2 פומה</option>
                        <option>תא 2 נמרה</option>
                      </optgroup>
                      <optgroup label="ביסלח">
                        <option>תא 1 נמר</option>
                        <option>תא 2 נמר</option>
                        <option>תא 2 אכזרית</option>
                      </optgroup>
                      <optgroup label="צאלים">
                        <option>תא 1 סימן 4</option>
                        <option>תא 1 סימן 3</option>
                        <option>תא 2 סימן 3</option>
                      </optgroup>
                    </select>
                </div>
            </div>
            <div class="row"> 
                <div class="col form-group">
                  <label class="labelSettings">תאריך פעילות</label>
                  <input type="date" name="date_upload" class="form-control" required>
                  <br>
                </div>
                <div class="col form-group">
                  <label class="labelSettings">פעילות עבור</label>
                  <select class="form-control" name="group_training">
                    <option>מדריכות</option>
                    <option>ש.כ. סדיר</option>
                    <option>מילואים</option>
                  </select>
                  <br>
                </div>
                <div class="col form-group">
                  <label class="labelSettings">שם המעלה</label>
                  <input type="text" name="name_updater"class="form-control" placeholder="שם" required>
                  <br>
              </div>
            </div>
            <div class="row">    
                <div class="col form-group">
                    <label class="labelSettings">שעת התחלה</label>
                    <input type="time" name="time_upload" required class="form-control" required>
                    <br>
                </div>
                <div class="col form-group">
                    <label class="labelSettings">שעת סיום</label>
                    <input type="time" name="time_download" required class="form-control" required>
                    <br>
                </div>
            </div>
            
            <div style="text-align: center;">
                <form method="POST">
                  <button type="sumbit" class="btn btn-outline-success">שלח</button>
                </form>
                <input type="reset" class="btn btn-outline-danger" value="אתחול">
                <p></p>
            </div>
        </form>
    </section>
</body>
      
</html>
{% endblock %}