
{% extends 'layout.html' %}
{% block content %}
<section id="title" style="background-color: rgb(244, 248, 248); border-bottom: 3px solid var(--black);" >
<div>
  <a href="/"><img class="Logo" src="static/images/logo.png" alt="logo-img"></a>
  <h1>עריכת תקלה</h1>
</div>
</section>
<body style="background-color: rgb(211, 218, 218);">
<section id="show_data_errors" dir="rtl" lang="he">
<form action="" method="post">

<div class="col form-group">
<label>למחיקת שורה יש דבר לבחור רק מספר תקלה</label>
</div>
<div class="row">
<div class="col form-group">
  <label for="">בחר מספר תקלה</label>
  <select class="form-control" name="error">
    {% for i in data %}
      <option>{{ i }}</option>
    {% endfor %}
  </select>
</div>
<div class="col form-group">
  <label for="">סוג תקלה</label>
  <select class="form-control" name="type_of_fault">
    <option>רזולוציה</option>
    <option>מקודד חוזי</option>
    <option>ריצודי לל"ק</option>
    <option>BE1 לא נפתח ב LOGGER</option>
    <option>בלהה</option>
    <option>בלהההה</option>
  </select>
</div>
<div class="col form-group">
  <label for="">הסבר מורחב במידת הצורך</label>
  <textarea class="form-control" name= "explanation" id="exampleFormControlTextarea1" rows="2" placeholder="אנא הסבר"></textarea>
</div>
</div>

<div class="row">
<div class="col form-group">
  <label for="">תפעול התקלה</label>
  <textarea class="form-control" name = "fault_operation" id="exampleFormControlTextarea1" rows="2" placeholder="אנא הסבר"></textarea>
</div>
<div class="col form-group">
  <label for="">באיזה מחשב</label>
  <select class="form-control" name="computer" id="exampleFormControlSelect1">
    <option>IGS</option>
    <option>STU</option>
    <option>IOS</option>
    <option>LOGGER</option>
    <option>BE</option>
    <option>INST</option>
    <option>מקודד חוזי</option>
    <option>מגש</option>
    <option>אחר</option>
  </select>
</div>
<div class="col form-group">
  <label for="">טופל \ לא טופל</label>
  <select class="form-control" name = "situation" id="exampleFormControlSelect1">
    <option>V</option>
    <option>X</option>
  </select>
</div>
</div>

<div class="container">
  <div class="row col form-group" style="text-align: center;">
    <form method="POST">
      <button type="sumbit" name="options" value="option_edit" class="btn btn-outline-success">עדכן</button>
      <button type="sumbit" name="options" value="option_delet" class="btn btn-outline-danger">מחיקת שורה</button>
    </form>
  </div>
</div>
</div>
</form>
</section>
</body>
{% endblock %}