{% extends "layout.html" %}
{% block content %}

<section id="title" style="background-color: rgb(244, 248, 248); border-bottom: 3px solid var(--black);">
    <div>
      <a href="/">
        <img class="Logo" src="static/images/logo.png" alt="logo-img">
      </a>
      <h1>ספרות מאמן רוכב שמיים</h1>
    </div>
</section>  

<section id="literature" style="background-color: rgb(211, 218, 218);">
    <div class="row1-container">
      <div class="box blue">
        <a href="/skyLark/literature/show/static-pdf/" class="btn btn-outline-secondary blueInButoon"><h3>ספר מפעיל</h3></a>
        <p></p>
        <img src="static/images/flaticon/safrot_mafil.png" alt="safrot_mafil">
      </div>
  
      <div class="box green">
        <a href="" class="btn btn-outline-secondary greenInButoon "><h3>ספר הדרכה</h3></a>
        <p></p>
        <img src="static/images/flaticon/inst.png" alt="inst">
      </div>
    </div>
</section>
{% endblock %}