{% extends "layout.html" %}
{% block content %}

<section id="title">
  <div>
    <a href="/">
      <img class="Logo" src="static/images/logo.png" alt="logo-img">
    </a>
    <h1>עמדת טכנאי</h1>
  </div>
</section>  
  <div class="second-paragraph">
    <h2>Sky Lark jfefijefkfj ferof fokrforeikf flper</h2>
  </div>


<section id="whichUser">
    <div class="row1-container">
      <div class="box green">
        <a href="/show_data_errors" class="btn btn-outline-secondary greenInButoon"><h3>דוח תקלות</h3></a>
        <p></p>
        <img src="static/images/flaticon/system.png" alt="system">
      </div>
  
      <div class="box pink">
        <a href="/warehouse_inventory" class="btn btn-outline-secondary pinkInButoon "><h3>מלאי מחסן</h3></a>
        <p></p>
        <img src="static/images/flaticon/checklist.png" alt="checklist">
      </div>
    </div>
</section>

{% endblock %}