
{% extends 'layout.html' %}
{% block content %}
<section id="title" style="background-color: rgb(244, 248, 248); border-bottom: 3px solid var(--black);" >
<div>
  <a href="/"><img class="Logo" src="static/images/logo.png" alt="logo-img"></a>
  <h1>עריכת פער</h1>
</div>
</section>
<body style="background-color: rgb(211, 218, 218);">
<section id="show_data_errors" dir="rtl" lang="he">
<form action="" method="post">

<div class="container">
<div class="row">
<div class="col form-group">
  <label for="">מאמן</label>
  <select class="form-control" name="simulator">
    <option>נייד 987</option>
    <option>נייד 988</option>
    <option>נייד 989</option>
  </select>
  <br>
</div>
<div class="col form-group">
<label for="">בחר פער לעריכה</label>
<select class="form-control" name="disparity">
  {% for i in data %}
    <option>{{ i }}</option>
  {% endfor %}
</select>
</div>
</div>
<div class="row">
<div class="col form-group">
  <label for="">טופל \ לא טופל</label>
  <select class="form-control" name="status">
    <option>V</option>
    <option>X</option>
  </select>
</div>
<div class="col form-group">
  <label for="" class="labelSettings">תאריך טיפול</label>
  <input type="date" name="date_treatment" class="form-control" min="2021-01-01">
  <br>
</div>
</div>
</div>

<script>
    function fireDeletAlert() {
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: '!הפער נמחק בהצלחה',
            showConfirmButton: false,
            timer: 1500
        })
    }      
</script>
<script>
    function fireSweetAlert() {
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: '!הפער עודכן בהצלחה',
            showConfirmButton: false,
            timer: 1500
        })
    }      
</script>
<div class="container">
<div class="col form-group" style="text-align: center;">
  <form method="POST">
    <button type="sumbit" name="options" value="option_edit" class="btn btn-outline-success" onclick="fireSweetAlert()">עדכן</button>
    <button type="sumbit" name="options" value="option_delet" class="btn btn-outline-danger" onclick="fireDeletAlert()">מחיקה</button>
  </form>
</div>
</div>
</div>
</form>
</section>
</body>
{% endblock %}