{% extends 'layout.html' %}
{% block content %}
<html>
<section id="title" style="background-color: rgb(244, 248, 248); border-bottom: 3px solid var(--black);" >
  <div>
    <a href="/">
      <img class="Logo" src="static/images/logo.png" alt="logo-img">
    </a>
    <h1>דיווח על תקלה</h1>
  </div>
</section>

<body style="background-color: rgb(211, 218, 218); ">
  <section id="insertError" dir="rtl" lang="he">
    <form action="" method="post">
      <div class="row">
        <div class="col form-group">
          <label for="" class="labelSettings">תאריך</label>
          <input type="date" name="date_error" class="form-control" min="2021-01-01" required>
          <br>
        </div>
        <div class="col form-group">
          <label for="" class="labelSettings">שעה</label>
          <input type="time" name="time_error" class="form-control" required>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
          <label for="">שם המזהה</label>
          <input type="text" name="name_identifier"class="form-control" required placeholder="שם">
          <br>
        </div>
        <div class="col form-group">
          <label for="">עיתוי התקלה</label>
          <select class="form-control" name="timing_fault">
            <option>אימון</option>
            <option>לא אימון</option>
          </select>
          <br>
        </div>
        <div class="col form-group">
          <label for="">עמדה</label>
          <select class="form-control" id="exampleFormControlSelect1" name="position">
            <option>פרט 1</option>
            <option>פרט 2</option>
            <option>פרט 3</option>
            <option>פרט 4</option>
            <option>פרט 5</option>
            <option>פרט 6</option>
            <option>פרט 7</option>
            <option>פרט 8</option>
            <option>פרט 9</option>
            <option>כל הפרט</option>
            <option>מדריכה ראשית</option>
            <option>משימה 1</option>
            <option>משימה 2</option>
            <option>משימה 3</option>
            <option>משימה 4</option>
          </select>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
          <label for="">סוג התקלה</label>
          <select class="form-control" name="type_of_fault">
            <option>לא ניתן לשגר מטוס קרקע</option>
            <option>חוזי מתוח / שטוח</option>
            <option>טעינת תרגיל נכשלה ב INST</option>
            <option>הפסקות חשמל</option>
            <option>עכבר \ מקלדת לא עובד</option>
            <option>dubgger - נופל TVIEW</option>
            <option>dubgger - נופל SIMENGINE</option>
            <option>מגש תקוע</option>
            <option>תקלת בסיס נתונים - מופיע מצלמה עם חוזי שחור</option>
            <option>אל תשלח - קרסה אפליקצייה במגש</option>
            <option>ריצודי לל"ק</option>
            <option>מקודד חוזי</option>
            <option>הפצת תרגיל נכשלה במחולל זירה</option>
            <option>מחולל זירה נתקע</option>
            <option>לא רוכש מטוס</option>
            <option>מיתוג IP חוזי</option>
            <option>לל"ק מלא</option>
            <option>תקלת רזולוציה</option>
            <option>טעינת תרגיל נכשלה ב INST</option>
            <option>INST קפוא</option>
            <option>הרוחות ב IOS לא נטענות</option>
            <option>נורת RT מהבהבת</option>
            <option>אחר - קרא למפעיל לתיעוד</option>
          </select>
          <br>
        </div>
        <div class="col form-group">
          <label for="">תפעול התקלה</label>
          <select class="form-control" name="fault_operation">
            <option>ריסטארט ל IOS ול - BE</option>
            <option>שיחרור מטוס והעלאת מטוס אחר</option>
            <option>הורדה והעלאה של מאמן</option>
            <option>סגירת הודעת Debugger</option>
            <option>הורדה והעלאה של ה STU</option>
            <option>הורדה והעלאה של ה INST</option>
            <option>הורדה והעלאה של ה IGS</option>
            <option>הורדה והעלאה של ה IOS</option>
            <option>הורדה והעלאה של המקודד</option>
            <option>לחיצה על "אל תשלח"</option>
            <option>תפעול רזולוציה דרך מחשב נייד בחדר שרתים</option>
            <option>החלפת עכבר</option>
            <option>החלפת מקלדת</option>
            <option>הסתדר באמצע הגיחה</option>
            <option>הורדה והעלאה של מתג ה Pull Up</option>
            <option>אין תפעול - קריאה למפעיל</option>
            <option>אין תפעול - מעבר לעמדה אחרת</option>
          </select>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
          <label for="">באיזה מחשב</label>
          <select class="form-control" name="computer" id="exampleFormControlSelect1">
            <option>IGS</option>
            <option>STU</option>
            <option>IOS</option>
            <option>LOGGER</option>
            <option>BE</option>
            <option>INST</option>
            <option>מקודד חוזי</option>
            <option>מגש</option>
            <option>אחר</option>
          </select>
          <br>
        </div>
        <div class="col form-group">
          <label for="">טופל \ לא טופל</label>
          <select class="form-control" name = "situation" id="exampleFormControlSelect1">
            <option>V</option>
            <option>X</option>
          </select>
          <br>
        </div>
        <div class="col form-group">
          <label for="">זמן השבתה</label>
          <input type="time" class="form-control" name= "downtime" required>
          <br>
        </div>
      </div>
      <div style="text-align: center;">
        <form method="POST">
          <button type="sumbit" class="btn btn-outline-success">שלח</button>
        </form>
        <input type="reset" class="btn btn-outline-danger" value="אתחול">
        <p></p>
      </div>
    </form>
  </section>
</body>

</html>
{% endblock %}


