
<section id="title">
  <div>
    <a href="/">
      <img class="Logo" src="static/images/logo.png" alt="logo-img">
    </a>
    <h1>Elbit Ground</h1>
  </div>
</section> 
  <div class="second-paragraph">
    <h2>Train As You Fight, Fight As You Train</h2>
  </div>
  
              
{% extends 'layout.html' %}
{% block content %}
<!-- Images of Simulators -->  
<section class="colored-section" id="photos">  
  <div id="photos-carousel" class="carousel slide" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">          
        <img class="photos-image" src="static/images/pho0.jpg" alt="photo 0">
      </div>
      <div class="carousel-item container-fluid">
        <img class="photos-image" src="static/images/pho1.jpg" alt="photo 1">
      </div>
      <div class="carousel-item container-fluid">          
        <img class="photos-image" src="static/images/pho2.jpg" alt="photo 2">
      </div>
      <div class="carousel-item container-fluid">          
        <img class="photos-image" src="static/images/pho3.jpg" alt="photo 3">
      </div>
      <div class="carousel-item container-fluid">          
        <img class="photos-image" src="static/images/pho4.jpg" alt="photo 4">
      </div>
      <div class="carousel-item container-fluid">          
        <img class="photos-image" src="static/images/pho5.jpg" alt="photo 5">
      </div>
      <div class="carousel-item container-fluid">          
        <img class="photos-image" src="static/images/pho6.jpg" alt="photo 6">
      </div>
      <div class="carousel-item container-fluid">          
        <img class="photos-image" src="static/images/pho7.jpg" alt="photo 7">
      </div>
      <div class="carousel-item container-fluid">          
        <img class="photos-image" src="static/images/pho8.jpg" alt="photo 8">
      </div>
      <div class="carousel-item container-fluid">          
        <img class="photos-image" src="static/images/pho9.jpg" alt="photo 9">
      </div>
      <div class="carousel-item container-fluid">          
        <img class="photos-image" src="static/images/fix.png" alt="photo 10">
      </div>
    </div>
    <a class="carousel-control-prev" href="#photos-carousel" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#photos-carousel" role="button" data-slide="next">
  <span class="carousel-control-next-icon"></span>
  </a>
</div>
</section>
    
    <section id="simulators">
        <div class="row1-container">
          <div class="box cyan">
            <a href="/mars" class="btn btn-outline-secondary cyanInButoon"><h3>מר"ס</h3></a>
            <br>
            <br>
            <img src="static/images/flaticon/antenna.png" alt="antena">
          </div>
      
          <div class="box red">
            <a href="/moreshet" class="btn btn-outline-secondary redInButoon "><h3>מורשת</h3></a>
            <br>
            <br>
            <img src="static/images/flaticon/binocular.png" alt="bincocular">
          </div>
      
          <div class="box pink">
            <a href="/skyLark" class="btn btn-outline-secondary pinkInButoon "><h3>רוכב שמיים</h3></a>
            <br>
            <br>
            <img src="static/images/flaticon/drone.png" alt="drone">
          </div>
        </div>
      
        <div class="row2-container">
          <div class="box orange">
            <a href="/driving" class="btn btn-outline-secondary orangeInButoon "><h3>נהיגה</h3></a>
            <br>
            <br>
            <img src="static/images/flaticon/driving_simulation.png" alt="driving_simulation">
          </div>
      
          <div class="box green">
            <a href="/tzevet" class="btn btn-outline-secondary greenInButoon "><h3>צוות</h3></a>
            <br>
            <br>
            <img src="static/images/flaticon/tank.png" alt="tank">
          </div>
      
          <div class="box varyDarkBlue">
            <a href="/sheder" class="btn btn-outline-secondary varyDarkBlueInButoon "><h3>שדר חם</h3></a>
            <br>
            <br>
            <img src="static/images/flaticon/missle.png" alt="missle">
          </div>
        </div>
      
        <div class="row3-container">
          <div class="box black">
            <a href="" class="btn btn-outline-secondary blackInButoon "><h3>רעם</h3></a>
            <br>
            <br>
            <img src="static/images/flaticon/working.png" alt="working">
          </div>
      
          <div class="box grayishBlue">
            <a href="" class="btn btn-outline-secondary grayishBlueInButoon "><h3>מיני רע"ם</h3></a>
            <br>
            <br>
            <img src="static/images/flaticon/work.png" alt="work">
          </div>
          
          <div class="box blue">
            <a href="" class="btn btn-outline-secondary blueInButoon "><h3>פיקוד העורף</h3></a>
            <br>
            <br>
            <img src="static/images/flaticon/building.png" alt="building">
          </div>
        </div>

        <div class="row4-container">
          <div class="box black">
            <a href="/manager" class="btn btn-outline-secondary blackInButoon "><h3>ניהולי</h3></a>
            <br>
            <br>
            <img src="static/images/flaticon/project-management.png" alt="project-management">
          </div>
        </div>
      </section>
      
{% endblock %}