<!-- חשוב חשוב חשוב !! לבוטסטראפ יש תיקיות פנימיות, אך בכדי שהג'אווה סקריפט וגוגל פונטס 
  יעבדו צריך להיות מחובר לאינטרנט-->

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Datatable (in site of DataTable we can download more table featchers - responsive, scroller, row group and more...) -->
  <link rel="stylesheet" type="text/css" href="static/css/datatables.min.css"/>
  <script type="text/javascript" src="static/js/datatables.min.js"></script>
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="static/css/bootstrap.css">
  <title> Elbit Ground </title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="icon" href="favicon.ico"> <!-- I created favicon in site : "favicon.cc"-->
  <!-- i coopied the next 4 links from "Google fonts"-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap" rel="stylesheet">
</head>

<!-- showing all kinds of messages in all HTML pages -->
{% with messages = get_flashed_messages(with_categories = True) %}
  {% if messages %}
    {% for category, message in messages %}
    <!-- we take category = 'danger' from bootstrap which responalbe to showing messages in beatiful way.
    m1-2 mb-1 are classes in botstrap-->
        <div class="alert alert-{{ category }}" style="text-align: center;">
          <button type="button" class="btn-close" aria-label="Close" data-dismiss="alert" style="position: absolute; right: 1%;"></button>
          <strong>{{ message }}</strong>
        </div>
    {% endfor %}
  {% endif %}
{%  endwith %}

{% block content %}
{% endblock %}

{% block footer %}
<section id="footer">
  <div>
    <h2>Training And Simulation</h2>
    &copy; Copyright 2022 by Ariel Guralnick.
  </div>
</section>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- Info Alert in order_training.html and driving_order_training.html-->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>