<html>
  <head>
    <title>Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/login.css">

  </head>

  {% with messages = get_flashed_messages(with_categories = True) %}
      {% if messages %}
        {% for category, message in messages %}
    <!-- we take category = 'danger' from bootstrap which responalbe to showing messages in beatiful way.
    m1-2 mb-1 are classes in botstrap-->
        <div class="alert alert-{{ category }}" style="text-align: center;">
          <button type="button" class="btn-close" aria-label="Close" data-dismiss="alert" style="position: absolute; right: 1%;"></button>
          <strong>{{ message }}</strong>
        </div>
        {% endfor %}
      {% endif %}
    {%  endwith %}

  <body>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>    
      <form action="" method="post">
        <h3>Elbit Ground Simulators</h3>
        <input type="text" placeholder="User name" name="username" value="{{
          request.form.username }}">
        <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
          <button>Log In</button>
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
        
      {% endif %}
    </div>
  </body>
</html>