{% extends 'layout.html' %}
{% block content %}
<section id="title" style="background-color: rgb(244, 248, 248); border-bottom: 3px solid var(--black);" >
<div>
<a href="/">
<img class="Logo" src="static/images/logo.png" alt="logo-img">
</a>
<h1>דוח תקלות למפעיל</h1>
</div>
</section>
<body style="background-color: rgb(211, 218, 218);">
<section id="show_data_errors" dir="rtl" lang="he">
<form action="" method="post">
<table border="0" class="dataframe table table-hover">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>תאריך</th>
      <th>שעה</th>
      <th>שם מזהה</th>
      <th>עיתוי התקלה</th>
      <th>עמדה</th>
      <th>סוג התקלה</th>
      <th>הסבר</th>
      <th>תפעול התקלה</th>
      <th>מחשב</th>
      <th>טופל/לא טופל</th>
      <th>זמן השבתה</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2021-10-24</td>
      <td>11:56</td>
      <td>נועה</td>
      <td>לא אימון</td>
      <td>פרט 6</td>
      <td>BE1 לא נפתח ב LOGGER</td>
      <td>עכעכע</td>
      <td>עכגעמיטממוטמחמוטמט</td>
      <td>IOS</td>
      <td>V</td>
      <td>00:04</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2021-10-24</td>
      <td>16:17</td>
      <td>חן</td>
      <td>אימון</td>
      <td>פרט 7</td>
      <td>ריצודי לל"ק</td>
      <td>חיחעחעיעע</td>
      <td>חיעחיעחיעח</td>
      <td>INST</td>
      <td>V</td>
      <td>00:02</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2021-10-25</td>
      <td>11:05</td>
      <td>כגגדכ</td>
      <td>לא אימון</td>
      <td>פרט 6</td>
      <td>ריצודי לל"ק</td>
      <td>גכגכ</td>
      <td>כגכ</td>
      <td>IGS</td>
      <td>V</td>
      <td>11:06</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2021-10-25</td>
      <td>11:07</td>
      <td>עכעכעכ</td>
      <td>אימון</td>
      <td>פרט 5</td>
      <td>ריצודי לל"ק</td>
      <td>NaN</td>
      <td>כעכעכ</td>
      <td>IGS</td>
      <td>V</td>
      <td>11:06</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2021-10-25</td>
      <td>11:08</td>
      <td>כעכעראע</td>
      <td>אימון</td>
      <td>פרט 1</td>
      <td>מקודד חוזי</td>
      <td>NaN</td>
      <td>כעכע</td>
      <td>IGS</td>
      <td>V</td>
      <td>11:07</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2021-10-25</td>
      <td>17:33</td>
      <td>יויו</td>
      <td>לא אימון</td>
      <td>פרט 5</td>
      <td>ריצודי לל"ק</td>
      <td>ו9חו9ןחןםחןם</td>
      <td>חןםחןםחןםחן</td>
      <td>LOGGER</td>
      <td>V</td>
      <td>15:40</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2021-10-25</td>
      <td>08:59</td>
      <td>לינוי</td>
      <td>לא אימון</td>
      <td>פרט 8</td>
      <td>BE1 לא נפתח ב LOGGER</td>
      <td>NaN</td>
      <td>כקכק'כק'כ</td>
      <td>BE</td>
      <td>V</td>
      <td>00:01</td>
    </tr>
  </tbody>
</table>
<br>

            <div class="container">
            <div class="row col form-group" style="text-align: center;">
            <form method="POST">
                <button type="sumbit" class="btn btn-outline-success" name="options" value="option1">הוספת תקלה</button>
                <button type="sumbit" class="btn btn-outline-danger" name="options" value="option2">עריכה</button>
            </form>
            </div>
            </div>
            
</form></section></body>{% endblock %}