{% extends 'layout.html' %}
{% block content %}
<section id="title" style="background-color: rgb(244, 248, 248); border-bottom: 3px solid var(--black);" >
<div>
<a href="/">
<img class="Logo" src="static/images/logo.png" alt="logo-img">
</a>
<h1>דוח פעילות מתקן </h1>
</div>
</section>
<body style="background-color: rgb(211, 218, 218);">
<section id="show_data_activity" dir="rtl" lang="he">
<form action="" method="post">

            <div class="container">
            <div class="row">
            <div class="col-sm form-group">
                <select class="form-control" id="exampleFormControlSelect1" name="position_upload">
                    <option>אנא בחר מאמן</option>
                    <option>עמדות פרט</option>
                    <option>משימה 1</option>
                    <option>משימה 2</option>
                    <option>משימה 3</option>
                    <option>משימה 4</option>
                </select>
            </div>
                <div class="col-sm">
                <form method="POST">
                    <button type="sumbit" class="btn btn-outline-success">חפש</button>
                </form>
                </div>
                </div>
                </div><table border="0" class="dataframe table table-hover">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>סוג מאמן</th>
      <th>מספר אימון</th>
      <th>תאריך העלאה</th>
      <th>פעילות עבור</th>
      <th>שם המעלה</th>
      <th>שעת התחלה</th>
      <th>שם המורידה</th>
      <th>שעת סיום</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>משימה 3</td>
      <td>אימון 2</td>
      <td>2021-10-24</td>
      <td>ש.כ. סדיר</td>
      <td>דנה</td>
      <td>14:53</td>
      <td>רוני</td>
      <td>16:53</td>
    </tr>
    <tr>
      <th>1</th>
      <td>משימה 3</td>
      <td>אימון 3</td>
      <td>2021-10-24</td>
      <td>ש.כ. סדיר</td>
      <td>רוני</td>
      <td>15:54</td>
      <td>רוני</td>
      <td>17:54</td>
    </tr>
    <tr>
      <th>2</th>
      <td>משימה 3</td>
      <td>אימון 1</td>
      <td>2021-10-24</td>
      <td>מילואים</td>
      <td>דנה</td>
      <td>19:56</td>
      <td>דנה</td>
      <td>22:56</td>
    </tr>
    <tr>
      <th>3</th>
      <td>משימה 2</td>
      <td>אימון 3</td>
      <td>2021-10-25</td>
      <td>הכשרת צוות</td>
      <td>דנה</td>
      <td>14:10</td>
      <td>דנה</td>
      <td>16:10</td>
    </tr>
    <tr>
      <th>4</th>
      <td>משימה 1</td>
      <td>אימון 1</td>
      <td>2021-10-25</td>
      <td>מילואים</td>
      <td>רוני</td>
      <td>18:41</td>
      <td>רוני</td>
      <td>21:41</td>
    </tr>
    <tr>
      <th>5</th>
      <td>משימה 1</td>
      <td>אימון 2</td>
      <td>2021-10-25</td>
      <td>קק"צ</td>
      <td>שני</td>
      <td>21:41</td>
      <td>שני</td>
      <td>00:42</td>
    </tr>
    <tr>
      <th>6</th>
      <td>עמדות פרט</td>
      <td>אימון 1</td>
      <td>2021-10-25</td>
      <td>אלביט</td>
      <td>נטע</td>
      <td>11:46</td>
      <td>נטע</td>
      <td>16:42</td>
    </tr>
  </tbody>
</table>
</form>
</section>
</body>
{% endblock %}