{% extends 'layout.html' %}
{% block content %}
<section id="title" style="background-color: rgb(244, 248, 248); border-bottom: 3px solid var(--black);" >
<div>
<a href="/">
<img class="Logo" src="static/images/logo.png" alt="logo-img">
</a>
<h1>תוכנית עבודה שנתית</h1>
</div>
</section>
<body style="background-color: rgb(211, 218, 218);">
<section id="show_data_errors" dir="rtl" lang="he">
<table border="0" class="dataframe table table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>gtr</th>
      <th>gtgt</th>
      <th>hyth</th>
      <th>hytnull</th>
      <th>null</th>
      <th>null.1</th>
      <th>null.2</th>
      <th>null.3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<br>
</section>
<section id="insertError" dir="rtl" lang="he">
<form action="" method="post">
    <div class = "row">
        <div class="col form-group">
            <label>נושא</label>
            <input type="text" name="subject" class="form-control">
            <br>
        </div>
        <div class="col form-group">
            <label>מטרה</label>
            <input type="text" name="goal" class="form-control">
            <br>
        </div>
        <div class="col form-group">
            <label>הישגים נדרשים</label>
            <input type="text" name="achievements" class="form-control">
            <br>
        </div>
        <div class="col form-group">
            <label>גורם מבצע</label>
            <input type="text" name="responsible" class="form-control">
            <br>
        </div>
        <div class="col form-group">
            <label for="">סטטוס ביצוע</label>
            <select class="form-control"  name="status">
                <option>לא בוצע</option>
                <option>בהרצה</option>
                <option>בוצע</option>
            </select>
          <br>
        </div>
    </div>
</form>
</section>

<div class="container">
    <div class="row col form-group" style="text-align: center;">
        <form method="POST">
            <button type="sumbit" class="btn btn-outline-success" name="options" value="option_add">הוספת שורה</button>
            <button type="sumbit" class="btn btn-outline-danger" name="options" value="option_edit">עריכת שורה</button>
        </form>
    </div>
</div>
</body>
{% endblock %}